#fa-link {
    position: relative;
    right: 1.6em;
    top: 1.9em;
}

/* 
direct child selectors are present because I don't want to lose the underline
on links in the paragraph, just its headers. */

.project>a, .job>a, .source-link {
    text-decoration: none;
}

#experience {
    padding-top: 2em;
    padding-bottom: 2em;
}

#projects {
    margin-top: 10em;
}

#professional h1, #projects h1 {
    font-size: 2.5em;
}

#projects div, #professional div {
    box-shadow: 1em 1em #0000005e;
    padding: 10%;
}

.job h2, .job h3, .project h2, .project h3 {
    text-transform: uppercase;
}

.job h2, .project h2 {
    font-size: 1.7em;
    margin-bottom: 0;
    margin-top: 0;
}

.job h3, .project h3 {
    margin-top: 0.1em;
}

.job:not(:first-of-type) {
    margin-top: 5em;
}

.project {
    margin-bottom: 5em;
}

#geoswap {
    background-color: darkslategray;
}

#geoswap h4, #geoswap a {
    color: coral;
}

#geoswap a:hover {
    color: white;
}

#geoswap p {
    color: lightgray;
}

#estuary-escapade {
    background-color: #6dbfe6;
}

#estuary-escapade h4, #estuary-escapade a {
    color: #1944ff;
}

#estuary-escapade a:hover {
    color: #142677;
}

#estuary-escapade p {
    color: #49385a;
}

#grenzy {
    background-color: #FFD8BE;
}

#grenzy h4, #grenzy a {
    color: #2E7E6E;
}

#grenzy a:hover {
    color: #186354;
}

#grenzy p {
    color: #203C66;
}

#weather {
    background-color: black;
}

#weather a, #weather h4 {
    color: white;
}

#weather a:hover, #weather p {
    color: lightgray;
}

#to-do {
    background-color: yellow;
}

#to-do a, #to-do h4 {
    color: black;
}

#to-do a:hover {
    color: red;
}

#to-do p {
    color: gray;
}

.source-link {
    position: relative;
    top: -8%;
    font-size: 100%;
}

#tic-tac-toe {
    background-color: #D8E3A7;
}

#tic-tac-toe a, #tic-tac-toe h4 {
    color: #535B37;
}

#tic-tac-toe a:hover {
    color: #ff4141;
}

#tic-tac-toe p {
    color: #323532;
}

#calculator {
    background-color: #1B1B1B;
}

#calculator a, #calculator h4 {
    color: #949292;
}

#calculator a:hover {
    color: #535151;
}

#etch-a-sketch {
    background-color: lavender;
}

#etch-a-sketch a, #etch-a-sketch h4 {
    color: red;
}

#etch-a-sketch a:hover {
    color: black;
}

@media only screen and (max-width: 600px) {
    #fa-link {
        right: 0;
        top: 0;
    }
    #experience {
        padding-bottom: 0;
        margin-top: 0;
    }
    #projects div, #professional div {
        box-shadow: none;
        padding: 5%;
    }
    div#projects, div#professional {
        margin: 0;
    }
    .job, .project {
        margin-top: 0;
        margin-bottom: 0;
    }
}