$durationColor: #c69770;
$faMarginRight: 1vw;
$faSize: 0.83vw;

@mixin faMarginAdjust($faSizeValue, $faMarginRightValue) {
    margin-left: $faSizeValue + $faMarginRightValue;
}

#fa-link {
    margin-right: $faMarginRight;
    font-size: $faSize;
}

.job h3,
.project h3,
.job h4,
.project h4,
.source-link {
    @include faMarginAdjust($faSize, $faMarginRight);
}

.job h2,
.job h3,
.project h2,
.project h3 {
    text-transform: uppercase;
}

.job h2,
.project h2 {
    margin-bottom: 5px;
}

.job h3,
.project h3 {
    font-size: 125%;
    font-weight: normal;
    margin-top: 0;
    font-style: italic;
}

.job h4,
.project h4 {
    color: $durationColor;
    align-self: baseline;
}

.job,
.project {
    margin-bottom: 5vh;
}

.job > .section-left,
.project > .section-left {
    max-width: 30%;
    align-self: flex-start;
    margin-left: 15%;
    margin-right: 5%;
}

.job > .section-right,
.project > .section-right {
    max-width: 80%;
}

.job:first-of-type,
.project:first-of-type {
    margin-top: 8vh;
}

.job:last-of-type,
.project:last-of-type {
    margin-bottom: 8vh;
}

#professional {
    margin-top: 20vh;
}

#professional > .job:first-of-type {
    scroll-snap-align: center;
}

.title-line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

@media only screen and (max-width: 600px) {
    $faSize: 5vw;
    $faMarginRight: 2vw;

    #fa-link {
        margin-right: $faMarginRight;
        font-size: $faSize;
    }

    .job h3,
    .project h3,
    .job h4,
    .project h4,
    .source-link {
        @include faMarginAdjust($faSize, $faMarginRight);
    }

    .job.section-flex,
    .project.section-flex {
        flex-direction: column;
        min-width: 100vw;
    }

    .job .section-left,
    .project .section-left {
        max-width: 100%;
        margin-left: 2.5%;
        margin-right: 0;
        min-width: 100%;
        h2 {
            font-size: 160%;
        }
    }

    #professional h1,
    #projects h1 {
        margin-left: 8%;
    }

    .job .section-right,
    .project .section-right {
        min-width: 80%;
        margin-left: 10%;
    }
}
