$durationColor: #c69770;
$faMarginRight: 1vw;
$faSize: 0.83vw;

@mixin faMarginAdjust {
    margin-left: $faSize + $faMarginRight;
}

#fa-link {
    margin-right: $faMarginRight;
    font-size: $faSize;
}

.source-link {
    @include faMarginAdjust;
}

#experience {
    display: inline;
}

.job h2,
.job h3,
.project h2,
.project h3 {
    text-transform: uppercase;
}

.job h2,
.project h2 {
    margin-bottom: 5px;
}

.job h3,
.project h3 {
    font-size: 125%;
    font-weight: normal;
    margin-top: 0;
    font-style: italic;
    @include faMarginAdjust;
}

.job h4,
.project h4 {
    color: $durationColor;
    align-self: baseline;
    @include faMarginAdjust;
}

.job,
.project {
    margin-bottom: 5vh;
}

.job > .section-left,
.project > .section-left {
    max-width: 30%;
    align-self: flex-start;
    margin-left: 15%;
    margin-right: 5%;
}

.job > .section-right,
.project > .section-right {
    max-width: 80%;
}

.job:first-of-type,
.project:first-of-type {
    margin-top: 8vh;
}

.job:last-of-type,
.project:last-of-type {
    margin-bottom: 8vh;
}

#professional {
    margin-top: 20vh;
}

#professional > .job:first-of-type {
    scroll-snap-align: center;
}

.title-line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

@media only screen and (max-width: 600px) {
    #fa-link {
    }
    #experience {
    }
    #projects div,
    #professional div {
    }
    div#projects,
    div#professional {
    }
    .job,
    .project {
    }
}
