$durationColor: #c69770;

#fa-link {
}

/* 
direct child selectors are present because I don't want to lose the underline
on links in the paragraph, just its headers. */

.project > a,
.job > a,
.source-link {
}

#experience {
    display: inline;
}

#projects {
}

#professional h1,
#projects h1 {
}

#projects div,
#professional div {
}

.job h2,
.job h3,
.project h2,
.project h3 {
    text-transform: uppercase;
}

.job h2,
.project h2 {
}

.job h3,
.project h3 {
    font-size: 125%;
    font-weight: normal;
}

.job h4,
.project h4 {
    color: $durationColor;
}

.job,
.project {
    margin-bottom: 5vh;
}

.job > .section-left,
.project > .section-left {
    max-width: 30%;
    align-self: flex-start;
    margin-left: 15%;
    margin-right: 5%;
}

.job > .section-right,
.project > .section-right {
    max-width: 80%;
}

.job:not(:first-of-type) {
}

.project {
}

@media only screen and (max-width: 600px) {
    #fa-link {
    }
    #experience {
    }
    #projects div,
    #professional div {
    }
    div#projects,
    div#professional {
    }
    .job,
    .project {
    }
}
