$bgColor: #141f41;
$bottomColor: #040c27;

#footer {
    display: inline;
    padding-bottom: 0;
    padding-top: 16vh;
    background-image: linear-gradient(to bottom, $bgColor 33%, $bottomColor 100%);
}

#mini {
    margin-bottom: 6vh;
}

#mini a {
    font-size: 220%;
    margin-right: 2vw;
}

@media only screen and (max-width: 600px) {
    #footer {
        width: 100%;
    }
    #mini {
    }
}
